@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: url("../fonts/Nunito-Extralight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans";
  font-display: swap;
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

body.active {
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "WorkSans", sans-serif;
  color: #222222;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #222222;
  font-family: "WorkSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -15px;
}

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 15px;
}

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 15px;
}

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25.0%;
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 15px;
}

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
}

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66666%;
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 15px;
}

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50.0%;
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 15px;
}

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 15px;
}

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 15px;
}

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75.0%;
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 15px;
}

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 15px;
}

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66666%;
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 15px;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100.0%;
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

/* small phones grid*/
@media (max-width: 475px) {
  .col-exs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-exs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-exs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-exs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-exs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-exs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-exs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-exs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-exs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-exs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-exs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-exs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

.language {
  margin-left: 10px;
}

.dropdown {
  z-index: 20;
}

.dropdown svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown svg path {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  fill: #222222;
}

.dropdown__item {
  position: absolute;
}

.dropdown__item .language__item {
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown__item .language__item span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown__item .language__item:hover span {
  color: #222222;
}

.dropdown .language__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown .language__item img {
  width: 22px;
  height: 22px;
}

.dropdown .language__item span {
  margin-left: 8px;
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #222222;
}

.dropdown.js-open .language__item {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.dropdown.js-open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown__trigger {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.dropdown__trigger img {
  width: 22px;
  height: 22px;
}

.dropdown__trigger span {
  margin: 0 4px 0 8px;
  font-size: 20px;
}

.dropdown__trigger i {
  background-image: url("../img/icon-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  z-index: 1005;
  background: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.15);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: block;
}

.header-logo img {
  display: block;
}

.home-header {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-header .menu-item a, .home-header .menu-item span {
  color: #ffffff;
}

.home-header .sub-menu .menu-item a {
  color: #222222;
}

.home-header .dropdown svg path {
  fill: #ffffff;
}

.home-header .language__item span, .home-header .language__item:hover span {
  color: #ffffff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  margin-right: 30px;
}

.menu-item:hover > a:before,
.menu-item:hover span:before {
  opacity: 1;
  width: 100%;
}

.menu-item a,
.menu-item span {
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #222222;
  position: relative;
}

.menu-item a:before,
.menu-item span:before {
  content: "";
  background: currentColor;
  position: absolute;
  bottom: -2px;
  width: 0;
  opacity: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-menu {
  position: absolute;
  top: 20px;
  top: 48px;
  background: #ffffff;
  padding: 32px;
  -webkit-box-shadow: 0px 0px 46px -15px rgba(103, 103, 103, 0.15);
          box-shadow: 0px 0px 46px -15px rgba(103, 103, 103, 0.15);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-menu .menu-item {
  margin-bottom: 24px;
}

.sub-menu .menu-item:last-child {
  margin-bottom: 0;
}

.sub-menu a {
  color: #222222;
}

.has-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.has-sub-menu svg {
  margin-left: 5px;
}

.has-sub-menu.js-open .dropdown__trigger span:before {
  opacity: 1;
  width: 100%;
}

.has-sub-menu.js-open .sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-screen {
  height: 98vh;
  position: relative;
  margin-bottom: 200px;
}

.main-screen:before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  background: #70b859;
  top: 0;
  right: 0;
  border-radius: 0 0 0 24px;
  z-index: -1;
}

.main-screen .container,
.main-screen .row {
  height: 100%;
}

.main-screen .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__image {
  width: 115%;
  margin-left: -6%;
}

.main-screen__title {
  margin-bottom: 32px;
  width: 105%;
}

.main-screen__title-1 {
  font-weight: 900;
  display: block;
  color: #70b859;
}

.main-screen__title-2 {
  font-weight: 200;
  color: #222222;
}

.main-screen__title-3 {
  color: #70b859;
  font-weight: 600;
}

.main-screen__title-4 {
  color: #70b859;
  font-weight: 600;
  padding-left: 100px;
}

.main-screen__title span {
  font-family: "Nunito";
  font-size: 72px;
  line-height: 84px;
}

.main-screen__description {
  width: 102%;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.8;
  margin-bottom: 32px;
}

.btn-primary {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 36px;
  background-image: -webkit-gradient(linear, left top, right top, from(#70b859), color-stop(98.69%, #4e9c35));
  background-image: linear-gradient(90deg, #70b859 0%, #4e9c35 98.69%);
  border-radius: 24px 0px;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  background-size: 300% 100%;
}

.btn-primary:hover {
  background-position: 100% 0;
}

.home-heading {
  font-family: "Nunito";
  font-weight: 900;
  font-size: 52px;
  line-height: 74px;
  color: #291e3c;
  text-align: center;
  max-width: 550px;
  margin: auto auto 60px auto;
}

.home-subheading {
  text-align: center;
  max-width: 600px;
  font-size: 20px;
  line-height: 32px;
  margin: auto auto 60px auto;
  opacity: .8;
}

.info .col-lg-6 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .column-img {
  position: relative;
}

.info-item {
  height: 750px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

.info-item:nth-child(even) .info-item__text {
  margin-right: 30px;
}

.info-item:nth-child(even) .info-item__background {
  right: -140px;
}

.info-item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info-item:nth-child(odd) .info-item__text {
  margin-left: 30px;
}

.info-item:nth-child(odd) .info-item__background {
  left: -140px;
}

.info-item__background {
  background-color: #e0e0e0;
  border-radius: 24px;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
}

.info-item__background img {
  position: absolute;
  display: none;
}

.info-item__description {
  font-family: "Nunito";
  font-size: 36px;
  line-height: 52px;
  font-weight: 900;
  margin-bottom: 24px;
}

.info-item__image {
  width: 100%;
  z-index: 2;
}

.info-item__image-background {
  position: absolute;
}

.info-item__more {
  color: #70b859;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
  border-bottom: 2px solid #70b859;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.info-item__more:hover {
  color: #291e3c;
  border-color: #291e3c;
}

.info-item-1 .info-item__background {
  background-color: #E0E0E0;
}

.info-item-1 .info-item__background img {
  display: block;
  bottom: -48px;
  height: 1048px;
}

.info-item-2 .info-item__background {
  background-color: #C3E0EA;
}

.info-item-2 .info-item__background img {
  display: block;
  bottom: -27px;
  left: -75px;
  width: 614px;
}

.info-item-3 .info-item__background {
  background-color: #77D06C;
}

.info-item-3 .info-item__background img {
  display: block;
  bottom: -60px;
  right: 20px;
  width: 683px;
}

.info-item-4 .info-item__background {
  background-color: #FDF6C0;
}

.info-item-4 .info-item__background img {
  display: block;
  top: -198px;
  left: 20px;
  width: 460px;
}

.details {
  padding: 100px 0;
}

.details-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 39px 1px rgba(204, 204, 204, 0.25);
          box-shadow: 0px 0px 39px 1px rgba(204, 204, 204, 0.25);
  border-radius: 24px;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.details-item__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.details-item__title {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Nunito';
  margin-bottom: 40px;
  text-align: center;
}

.details-item__link {
  margin-top: auto;
}

.contact {
  margin-bottom: 120px;
}

.contact .home-heading {
  margin-bottom: 32px;
}

.contact .home-subheading {
  margin-bottom: 60px;
}

.contact .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form {
  width: 100%;
}

.contact-form .form-group {
  width: 100%;
  margin-bottom: 24px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 22px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(56, 56, 56, 0.1);
          box-shadow: 0px 0px 25px 1px rgba(56, 56, 56, 0.1);
  border-radius: 100px;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: none;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #70b859;
}

.contact-form textarea {
  border-radius: 16px;
  height: 230px;
  resize: none;
}

.contact-form button {
  border-radius: 100px;
  background: #70b859;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  padding: 22px;
  display: block;
  border: none;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact-form button:hover {
  background-color: #569043;
}

.footer {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(12, 12, 12, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.footer-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu {
  position: relative;
}

.footer-menu:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #70b859;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer-menu-top {
  margin-bottom: 30px;
}

.footer-menu-bottom, .footer-menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__link {
  font-size: 20px;
  display: block;
  margin-right: 30px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer-menu__link:hover {
  border-color: #ffffff;
}

.footer-menu__link:last-child {
  margin-right: 0;
}

@media (min-width: 1920px) {
  .footer-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 1600px;
    -o-object-position: top;
       object-position: top;
  }
  .main-screen__image {
    width: 140%;
    margin-left: -8%;
  }
}
/*# sourceMappingURL=main.css.map */